extends ../layouts/default

block content
  .container: .jumbotron
    h1 Welcome
    p ... to one of the raddest and most untimely updated personal websites around.
    p I'm Ruben Vereecken, a 21 year old Computer Science student with a profound love for the web. This place helps me think
      | aloud about my projects and helps keep track of them at the same time. Be sure to check out the
      a(href="/blog")  Blog
      |  or any of the really cool
      a(href="/projects")  projects
      |  I've worked on.
    hr
    h2 So why 'Not Code'?
    p I wanted a place to escape from coding. Sadly escape is not an option so I kept the name as some sort of ironical
      | mockery of what was supposed to be.
