extends ../layouts/default

block content
  .container: .jumbotron
    h1 Welcome
    p ... to one of the raddest and most untimely updated personal websites around.
    p I'm Ruben Vereecken, a 21 year old Computer Science student with a profound love for the web. This place helps me think
      | aloud about my projects and keep track of them at the same time.
